::selection {
  color: #000;
  background: #f0c424;
}

/* ========= TOP NAVBAR ========= */
.top-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top-nav img {
  width: 20% !important;
  height: auto;
}
.top-nav-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
  padding: 10px;
}
.top-nav-item {
  margin-right: 20px;
}
.top-nav-icon {
  color: #138dd5 !important;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-right: 5px;
}
.top-nav-link {
  margin: 0;
  color: #000000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* ========= MAIN NAVBAR ========= */
.navbar {
  background-color: #138dd5 !important;
  border-top: 2px solid #138dd5;
  border-bottom: 2px solid #138dd5;
}
.navbar:hover {
  background-color: #1c3746 !important;
  transition: 0.3s all ease-in-out;
  border-top: 2px solid #138dd5;
  border-bottom: 2px solid #138dd5;
}
.nav-link {
  color: #e0e0e0;
}
.nav-link:hover {
  color: #138dd5;
}
.navbar-brand {
  display: none !important;
}

/* ========= COLLEGE REGISTRATIONS ========= */
.section-container {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.section-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
}
.reg-section-card {
  max-width: 350px !important;
  max-height: 300px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reg-section-img {
  max-width: 150px;
  max-height: fit-content;
  margin-right: 20px;
}
.reg-section-img img {
  width: 70px;
  height: auto;
}
.reg-section-txt {
  width: 150px;
}
.xs-txt {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  color: #777;
}
.xl-txt {
  font-weight: 600;
  color: #000;
  margin: 0 !important;
  font-size: 14px;
  line-height: 18px;
}

/* ========= HOME PAGE BRIEF SECTION ========= */
.home-page-brief {
  background: rgb(57, 97, 120);
  background: linear-gradient(
    132deg,
    rgba(57, 97, 120, 1) 10%,
    rgba(3, 30, 46, 1) 90%
  );
  padding: 20px;
}
.home-page-brief-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page-brief-lottie {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page-brief-lottie lottie-player {
  width: 350px;
  height: 350px;
}
.home-page-brief-content {
  padding: 20px;
  max-width: 100%;
}
.home-page-brief-content h1 {
  font-weight: bold;
  margin: 0;
  font-size: 60px;
  line-height: 55px;
  margin-bottom: 20px;
  color: #fff;
}
.home-page-brief-btn {
  background-color: #138dd5;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  width: 150px !important;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid #138dd5;
}
.home-page-brief-btn:hover {
  background-color: #1c3746;
  transition: 0.3s all ease-in-out;
  border: 2px solid #fff;
}
.home-page-brief-content p {
  color: #fff;
}
.home-page-brief-btn a {
  text-decoration: none;
  color: #fff;
}

/* ========= HOMEPAGE FEATURE TAB ========= */
.home-feature-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.feature-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.feature-tab {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  width: 350px;
  height: 250px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
  text-decoration: none;
}
.feature-tab#color-1 {
  background-color: #1c3746;
  color: #fff;
}
.feature-tab#color-1:hover {
  color: #fff;
  background-image: url("../svg/feature-tab-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s all ease-in-out !important;
}
.feature-tab#color-2 {
  background-color: #138dd5;
  color: #fff;
}
.feature-tab#color-2:hover {
  color: #fff;
  background-image: url("../svg/feature-tab-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s all ease-in-out !important;
}
.feature-tab#color-3 {
  background-color: #f0c424;
  color: #fff;
}
.feature-tab#color-3:hover {
  color: #fff;
  background-image: url("../svg/feature-tab-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s all ease-in-out !important;
}
.feature-tab ion-icon {
  font-size: 30px;
}

/* ========= WHY RGS ========= */
.why-rgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.why-rgs-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}
.why-rgs-img {
  width: 70%;
  height: auto;
}
.why-rgs-content {
  padding: 10px;
}
.why-rgs-content h3 {
  font-weight: bold;
  color: #1c3746;
  font-size: 40px;
  margin-bottom: 50px !important;
  line-height: 60px;
}
.why-rgs-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 40px;
}
.why-rgs-icon-holder {
  background-color: #1c3746;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.why-rgs-icon {
  font-size: 24px;
  color: #fff;
}
.why-rgs-card h4 {
  font-weight: 500;
  color: #1c3746;
  font-size: 20px;
  margin: 0;
}
.why-rgs-card p {
  margin: 0;
}

/* ========= DEVELOPER FOOTER ========= */
.developer-footer {
  background-color: #1c3746;
  padding: 10px;
}
.developer-footer p {
  margin: 0;
  color: #fff;
  text-align: center;
}
.developer-footer span a {
  color: #138dd5;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* ========= TOP NAVBAR ========= */
  .top-nav {
    display: none;
  }

  /* ========= MAIN NAVBAR ========= */
  .navbar {
    background-color: initial !important;
    border-bottom: 1px solid #1c3746;
  }
  .navbar:hover {
    background-color: initial !important;
    transition: none;
  }
  .navbar-brand {
    display: initial !important;
    max-width: 100%;
  }
  .navbar-brand img {
    width: 150px;
  }
  .nav-link {
    color: initial;
  }
  .nav-link:hover {
    color: initial;
  }

  /* ========= COLLEGE REGISTRATIONS ========= */
  .section-container {
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 -0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 -0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 -0 rgba(0, 0, 0, 0);
  }
  .section-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .reg-section-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  /* ========= HOME PAGE BRIEF SECTION ========= */
  .home-page-brief {
    padding: 10px;
  }
  .home-page-brief-section {
    flex-direction: column;
  }
  .home-page-brief-lottie {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-page-brief-content h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 44px;
    line-height: 42px;
    margin-bottom: 20px;
    text-align: center;
  }
  .home-page-brief-content p {
    text-align: center;
    font-size: 16px !important;
  }
  .home-page-brief-lottie lottie-player {
    width: 200px !important;
    height: 200px !important;
    margin: 0 !important;
  }
  .home-page-brief-btn {
    background-color: #138dd5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .home-page-brief-btn:hover {
    background-color: #1c3746;
    transition: 0.3s all ease-in-out;
  }
  .home-page-brief-btn a {
    text-decoration: none;
    color: #fff;
  }

  /* ========= HOMEPAGE FEATURE TAB ========= */
  .home-feature-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .feature-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .feature-tab {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 200px !important;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
    margin-bottom: 10px;
  }

  .feature-tab ion-icon {
    font-size: 30px !important;
  }

  /* ========= WHY RGS ========= */
  .why-rgs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .why-rgs-content h3 {
    font-size: 30px;
    line-height: initial;
    text-align: center;
  }
  .why-rgs-icon-holder {
    width: 100px;
    height: 50px;
  }

  /* ========= DEVELOPER FOOTER ========= */
  .developer-footer {
    background-color: #1c3746;
    padding: 10px;
    position: initial;
    bottom: 0;
  }
  .developer-footer p {
    margin: 0;
    color: #fff;
    text-align: center;
  }
  .developer-footer span a {
    color: #138dd5;
    text-decoration: none;
  }
}
