/* ============ ADMIN NAVBAR ============ */
.navbar-brand {
  max-width: 100%;
}
.navbar-brand img {
  width: 12%;
  height: auto;
}

/* ============ ADMIN DASHBOARD ============ */
.admin-dashboard-button-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100% !important;
  justify-content: flex-start;
}
.admin-dashboard-button {
  border: 1px solid #1c3746;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border-radius: 10px;
  background-color: #fff;
  margin: 5px;
}
.admin-dashboard-button:hover {
  -webkit-box-shadow: 5px 5px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 20px -9px rgba(0, 0, 0, 0.75);
  transition: 0.3s all ease-in-out;
}
.admin-dashboard-button ion-icon {
  color: #1c3746 !important;
  font-weight: bold;
  margin-right: 5px;
  font-size: 18px;
}
.admin-dashboard-button a {
  text-decoration: none;
  color: #1c3746;
  margin: 0;
}
.form-header {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  color: #1c3746;
}
.form-header-details {
  margin: 0;
  color: #777;
}
.event-form-container {
  border: 1px solid #e7e7e7e7;
  padding: 20px;
}
.dashboard-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}
.dashboard-heading-section h2 {
  font-weight: bold;
  margin: 0;
  color: #1c3746;
  font-size: 20px;
}
.dashboard-heading-section span {
  color: #138dd5 !important;
}
.dashboard-table {
  border: 1px solid #e7e7e7;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  width: 95%;
}
.dashboard-table th {
  font-size: 12px;
  color: #fff;
  background-color: #138dd5;
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    max-width: 30%;
    visibility: visible;
  }
  .nav-item-mobile {
    display: initial;
  }
  .nav-link {
    font-size: 18px;
  }
  /* ============ ADMIN DASHBOARD ============ */
  .admin-dashboard {
    position: initial;
    margin-top: 20px !important;
    padding: 20px;
  }
}
