/* ======== COMMON ======== */
body {
  font-family: "Poppins", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ======== NAVBAR ======== */
.navbar {
  background-color: #fff !important;
}
.navbar-brand {
  max-width: 150px !important;
  max-height: 50px !important;
  width: 150px !important;
  height: 80px !important;
}
.navbar-brand img {
  width: 50px !important;
  height: auto !important;
}
.nav-link {
  color: #2c4281 !important;
  font-size: 14px;
}
.nav-link:hover {
  color: #0095eb !important;
}
.navbar-social-media-icons {
  font-size: 24px !important;
}

/* ======== HOMEPAGE CAROUSEL ======== */
.carousel-banner-section {
  max-width: 100% !important;
  width: 100% !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}
#carousel-video {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  border-radius: 10px !important;
}
.carousel-content {
  position: absolute;
  width: 100%;
  top: 0;
}
.carousel-empty-div {
  height: 400px !important;
}
.banner-prev-icon {
  content: url("../icons/arrow-back-circle.svg");
  width: 30px;
  margin-top: 200px;
  margin-left: 20px;
}
.banner-next-icon {
  content: url("../icons/arrow-forward-circle.svg");
  width: 30px;
  margin-top: 200px;
  margin-right: 20px;
}
.carousel-banner-inner-section {
  padding: 20px !important;
  margin-left: 120px;
}
.carousel-banner-inner-section h1 {
  margin: 0 !important;
  font-weight: 700;
  font-size: 120px !important;
  color: #2c4281;
  margin-top: 100px !important;
}
.carousel-banner-inner-section h2 {
  margin: 0 !important;
  font-weight: 700;
  color: #2c4281;
}
.carousel-banner-inner-section p {
  margin: 0 !important;
  font-weight: 700;
  font-size: 24px;
  color: #2c4281;
}
.carousel-banner-lottie {
  width: 400px;
  height: 400px;
}

/* ======== HOMEPAGE ADMISSION ENQUIRY SECTION ======== */
.heading {
  font-weight: 600;
  font-size: 20px;
  color: #0095eb;
  margin: 0;
}
.homepage-admission-section {
  display: flex;
}
.homepage-admission-section-content {
  margin-left: 20px !important;
  width: 40%;
}
.homepage-admission-section-content p {
  line-height: 30px;
}

/* ======== FEATURE SECTION ======== */
.homepage-card-grid {
  display: flex;
  flex-wrap: wrap;
}
.homepage-feature-card {
  max-width: 360px;
  max-height: 400px;
  width: 360px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.homepage-feature-card-inner-content h2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}
.homepage-feature-card-inner-content p {
  margin: 0;
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}
.homepage-feature-img-container {
  max-width: 360px !important;
  max-height: 250px !important;
}
.homepage-feature-img-container img {
  width: 100%;
  height: fit-content;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ======== HOMEPAGE CAMPUS GALLERY SECTION ======== */
.campus-gallery-section {
  width: 100%;
  /* background-color: #e7e7e7; */
  margin-bottom: 20px;
  padding: 20px;
}
.campus-gallery-heading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px !important;
}
.campus-gallery-heading-section h2 {
  margin: 0;
  color: #2c4281;
  font-weight: 800;
}
.campus-gallery-heading-section p {
  margin: 0;
  color: #2c4281;
}
.campus-gallery-card-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.campus-gallery-img-container {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) !important;

  margin: 5px;
}
.campus-gallery-img {
  width: 250px;
  height: auto;
  border-radius: 10px !important;
}

/* ======== HOMEPAGE DIRECTOR BRIEF SECTION ======== */
.homepage-director-brief {
  display: flex;
}
.homepage-director-brief-left {
  background-color: #e7e7e7;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border-radius: 5px;
  margin-right: 20px;
}
.homepage-director-brief-left img {
  width: 200px !important;
  height: auto;
  margin-right: 15px;
  border-radius: 10px;
}
.homepage-director-brief-content {
  width: 100%;
}
.homepage-director-brief-content h3 {
  margin: 0;
  font-weight: 700;
  color: #2c4281;
  margin-bottom: 10px;
}
.homepage-director-brief-content p {
  margin: 0;
  font-size: 14px;
  color: #000;
  margin-bottom: 20px;
}
.homepage-director-know-more-btn {
  margin-top: 30px;
  text-decoration: none;
  color: #000;
  background-color: #2c4281;
  width: 250px !important;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
}

/* ======== WHO WE ARE SECTION ======== */
.section-container {
  background-image: url("../images/usable/feature-img-4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 350px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-container-heading {
  margin: 0 !important;
  font-size: 50px;
  font-weight: bold;
  color: #2c4281 !important;
}
.section-container-caption {
  margin: 0 !important;
}
.custom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 30px 50px 30px;
}
.box-left {
  background-color: #2c4281 !important;
  padding: 30px;
}
.box-left h2 {
  color: #fff !important;
}
.box-left p {
  color: #fff !important;
  margin: 0;
  font-size: 14px;
  font-weight: 200 !important;
}
.box-right {
  background-color: #0095eb !important;
  padding: 30px;
}
.box-right h2 {
  color: #fff !important;
}
.box-right p {
  color: #fff !important;
  margin: 0;
  font-size: 14px;
  font-weight: 200 !important;
}

/* ======== INFRASTRUCTURE SECTION ======== */
.infra-section-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e7e7e7e7;
}
.infrastructure-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}
.infra-feature-img-container {
  max-width: 350px;
  max-height: auto;
}
.infra-feature-img-container img {
  width: 100% !important;
  height: auto;
}

/* ======== FOOTER SECTION ======== */
.web-footer {
  width: 100%;
  background: rgb(44, 66, 129);
  background: linear-gradient(
    90deg,
    rgba(44, 66, 129, 1) 0%,
    rgba(0, 149, 235, 1) 100%
  );
  padding: 40px;
  display: flex;
}
.web-footer-logo {
  width: 80px;
  height: auto;
}
.web-footer-content-holder {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}
.web-footer-label {
  margin: 0;
  color: #e7e7e7;
  font-size: 12px;
}
.web-footer-desc {
  margin: 0;
  color: #fff;
  width: 300px;
}
.web-footer-flex {
  flex: 1;
  margin-top: 30px;
}
.web-footer-menu li {
  list-style-type: none;
  color: #fff;
  font-weight: 200 !important;
  margin-bottom: 10px;
}
.web-footer-menu a {
  text-decoration: none !important;
  color: #fff;
}
.developer-footer {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.developer-footer p {
  margin: 0;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  /* ======== NAVBAR ======== */
  .navbar {
    background-color: #2c4281 !important;
  }
  .nav-link {
    color: #fff !important;
    font-size: 14px;
  }
  .navbar-toggler {
    border-color: #fff;
  }

  /* ======== HOMEPAGE CAROUSEL ======== */
  .carousel-banner-section {
    flex-direction: column;
    padding: 0px;
  }
  #carousel-video {
    max-width: 100% !important;
    z-index: -999;
  }
  .carousel-content {
    position: unset !important;
    width: 100%;
    margin-left: 0 !important;
  }
  .banner-prev-icon {
    margin-top: 90px;
  }
  .banner-next-icon {
    margin-top: 90px;
  }
  .carousel-indicators {
    display: none !important;
  }
  .carousel-banner-inner-section {
    padding: 20px !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }
  .carousel-banner-inner-section h1 {
    margin: 0 !important;
    font-weight: 700;
    font-size: 30px !important;
    color: #2c4281;
    margin-top: 20px !important;
  }
  .carousel-banner-inner-section h2 {
    margin: 0 !important;
    font-weight: 700;
    color: #2c4281;
  }
  .carousel-banner-inner-section p {
    margin: 0 !important;
    font-weight: 700;
    font-size: 14px;
    color: #2c4281;
  }
  .carousel-empty-div {
    display: none !important;
  }
  /* ======== HOMEPAGE ADMISSION ENQUIRY SECTION ======== */
  .homepage-admission-section {
    display: flex;
    flex-direction: column !important;
    margin-top: 0px !important;
  }
  .homepage-admission-section-content {
    margin-left: 0px !important;
    width: 100%;
    margin-bottom: 40px !important;
  }
  .responsive-card {
    padding: 20px !important;
  }

  /* ======== HOMEPAGE CAMPUS GALLERY SECTION ======== */
  .campus-gallery-section {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
  .campus-gallery-heading-section {
    margin-top: 0px;
    margin-bottom: 20px !important;
  }
  .campus-gallery-heading-section h2 {
    margin: 0;
    color: #2c4281;
    font-weight: 800;
  }
  .campus-gallery-heading-section p {
    margin: 0;
    color: #2c4281;
    text-align: center !important;
  }

  /* ======== FEATURE SECTION ======== */
  .homepage-card-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .homepage-feature-card {
    max-width: 100% !important;
    max-height: 400px;
    width: 100% !important;
    height: 400px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px !important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
  }

  /* ======== HOMEPAGE DIRECTOR BRIEF SECTION ======== */
  .homepage-director-brief {
    display: flex;
    flex-direction: column !important;
  }
  .homepage-director-brief-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column !important;
    padding: 20px;
    border-radius: 5px;
    margin-right: 0px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .homepage-director-brief-left img {
    width: 100% !important;
    height: auto;
    margin-right: 0;
    margin-bottom: 15px;
  }

  /* ======== FOOTER SECTION ======== */
  .web-footer {
    width: 100%;
    background-color: #2c4281;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .web-footer-menu {
    padding: 0;
  }
  /* ======== WHO WE ARE SECTION ======== */
  .section-container-heading {
    font-size: 40px !important;
    text-align: center;
  }
  .section-container-caption {
    text-align: center;
  }
  .custom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    margin: 50px 15px 50px 15px;
  }
  .box-left {
    background-color: #2c4281 !important;
    padding: 30px;
  }
  .box-left h2 {
    color: #fff !important;
  }
  .box-left p {
    color: #fff !important;
    margin: 0;
    font-size: 14px;
    font-weight: 200 !important;
  }
  .box-right {
    background-color: #0095eb !important;
    padding: 30px;
  }
  .box-right h2 {
    color: #fff !important;
  }
  .box-right p {
    color: #fff !important;
    margin: 0;
    font-size: 14px;
    font-weight: 200 !important;
  }

  /* ======== INFRASTRUCTURE SECTION ======== */
  .infrastructure-row {
    flex-direction: column !important;
    padding: 20px;
  }
  .infra-feature-img-container {
    margin-bottom: 15px !important;
  }
}
